 nav{
    background-color: #F8DDE0;
    margin-top: 0;
    padding: 18px;
    position: sticky;
 }
nav a{
    text-decoration: none;
    margin: 25px;
    color: grey;
    font-weight: bold;
 }
nav a:hover{
    background-color: rgb(216, 179, 209);
    padding: 18px;
    color: rgb(233, 229, 229);
 }
 .start-planning{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2)),url(images/wedding-planner.png);
   background-position: center;
 }
 .start-planning h1{
   font-size: 50px;
   margin-top: 60px;
 }
 #planning{
    background-color: red;
    border: none;
    padding: 30px;
    border-radius: 10px;
    margin: 40px;
 }
 #planning a{
    color: white;
    font-size: 20px;
    text-decoration: none;
 }
 h1,h2,h3,h4{
    font-family: "Playfair Display";
 }
 h5,h6,p{
    font-family: "Poppins";
 }
 #planning-container{
   padding: 40px;
   margin-top: 20px;
 }
 #planning-features{
   margin: 100px;
 }
 .features img{
    position: relative;
    left: 300px;
    height: 200px;
    width: 300px;
   border-radius: 25px;
   box-shadow: 10px 10px 10px gray;
 }
 .box1{
   height: 100px;
   width: 400px;
 }
 .features{
   display: flex;
   margin: 100px;
 }
 footer {
     background-color: #F8DDE0;
 }

 .quicklinks {
     margin: 5px 100px;
 }

 .quicklinks a {
     display: block;
     text-decoration: none;
     color: rgb(42, 42, 145);
     margin: 2px;
 }

 .footer {
     display: flex;
     gap: 200px;
 }
 .checklist-container{
    background: linear-gradient(rgb(240, 236, 236),rgb(227, 214, 200));
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 750px;
    width: 750px;
    margin: 12px auto;
    font-size: large;
    font-weight: 550;
 }
 input{
    margin: 18px;
    padding: 10px;
    border-radius: 5px;
 }
 #addtask{
    margin: 8px;
    border: none;
    background-color: #5568fe;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
 }
 ul{
    list-style: none;
 }
 li{
    display: flex;
    align-items: center;
 }
 .delete-btn{
    background-color: #65b579;
    margin: 9px;
    border: none;
    padding: 5px;
    border-radius: 5px;
 }
 