
 nav{
    background-color: #F8DDE0;
    margin-top: 0;
    padding: 18px;
    position: sticky;
 }
nav a{
    text-decoration: none;
    margin: 25px;
    color: grey;
    font-weight: bold;
 }
nav a:hover{
    background-color: rgb(216, 179, 209);
    padding: 18px;
    color: rgb(233, 229, 229);
 }
 #planning{
    background-color: red;
    border: none;
    padding: 23px;
    border-radius: 10px;
 }
 #planning a{
    color: white;
    font-size: larger;
    text-decoration: none;
 }
 h1,h2,h3{
    font-family: "Playfair Display";
 }
 h5,p{
    font-family: "Poppins";
 }
 #wedding-image{
    margin-top: 12px;
    width: 95%;
    height: 450px;
    margin-left: 40px;
 }
 .checklist-container{
    background: linear-gradient(rgb(240, 236, 236),rgb(227, 214, 200));
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 750px;
    width: 750px;
    margin: 12px auto;
    font-size: large;
    font-weight: 550;
 }
 input{
    margin: 18px;
    padding: 10px;
    border-radius: 5px;
 }
 #addtask{
    margin: 8px;
    border: none;
    background-color: #5568fe;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
 }
 ul{
    list-style: none;
 }
 li{
    display: flex;
    align-items: center;
 }
 .delete-btn{
    background-color: #65b579;
    margin: 9px;
    border: none;
    padding: 5px;
    border-radius: 5px;
 }
 
